<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/classe/list">Classes</a></li>
    <li class="breadcrumb-item active">Add</li>
</ol>
<h1 class="display-4">Add Class</h1>
<form method="post" action="/classe/create">
    <div class="form-group">
        <label for="title">libellé</label>
        <input type="text" name="libelle" class="form-control" required>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary">
</form>