<h1 class="display-4">Welcome To PersonBase</h1>
<p class="mb-4">This is a Sails.js app for managing persones</p>
<a href="/Personne/list" class="btn btn-light">View Persons</a>
<a href="/Personne/add" class="btn btn-light">Add Person</a><br/><br>
<a href="/classe/list" class="btn btn-light">View Classes</a>
<a href="/classe/add" class="btn btn-light">Add Class</a>